aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.1
attrs==21.2.0
cffi==1.15.0
charset-normalizer==2.0.8
click==8.0.3
cryptography==36.0.0
et-xmlfile==1.1.0
frozenlist==1.2.0
hat-aio==0.5.1
hat-asn1==0.5.1
hat-drivers==0.5.2
hat-json==0.5.2
hat-peg==0.5.1
hat-util==0.5.4
idna==3.3
jsonpatch==1.32
jsonpointer==2.2
jsonschema==4.2.1
llvmlite==0.37.0
multidict==5.2.0
networkx==2.6.3
numba==0.54.1
numpy==1.20.3
openpyxl==3.0.9
packaging==21.3
pandapower==2.7.0
pandas==1.3.4
pycparser==2.21
pyparsing==3.0.6
pyrsistent==0.18.0
pyserial==3.5
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
scipy==1.6.0
six==1.16.0
typing_extensions==4.0.1
xlrd==2.0.1
XlsxWriter==3.0.2
yarl==1.7.2
